---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&days=3&key=<WEATHER_API_KEY>&q=90210
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"location":{"name":"Beverly Hills","region":"California","country":"United
        States of America","lat":34.0736,"lon":-118.4004,"tz_id":"America/Los_Angeles","localtime_epoch":1747699200,"localtime":"2026-05-19
        12:00"},"current":{"last_updated_epoch":1747699200,"last_updated":"2026-05-19
        12:00","temp_c":22.2,"temp_f":72.0,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":5.6,"wind_kph":9.0,"wind_degree":250,"wind_dir":"WSW","pressure_mb":1015.0,"pressure_in":29.97,"precip_mm":0.0,"precip_in":0.0,"humidity":55,"cloud":0,"feelslike_c":22.2,"feelslike_f":72.0,"vis_km":16.0,"vis_miles":9.0,"uv":6.0,"gust_mph":8.5,"gust_kph":13.7},"forecast":{"forecastday":[{"date":"2026-05-19","date_epoch":1747699200,"day":{"maxtemp_c":24.4,"maxtemp_f":76.0,"mintemp_c":15.6,"mintemp_f":60.0,"avgtemp_c":20.0,"avgtemp_f":68.0,"maxwind_mph":10.1,"maxwind_kph":16.2,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":16.0,"avgvis_miles":9.0,"avghumidity":55,"daily_will_it_rain":0,"daily_chance_of_rain":10,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":6.0},"astro":{},"hour":[]},{"date":"2026-05-20","date_epoch":1747785600,"day":{"maxtemp_c":23.3,"maxtemp_f":74.0,"mintemp_c":14.4,"mintemp_f":58.0,"avgtemp_c":19.0,"avgtemp_f":66.2,"maxwind_mph":12.5,"maxwind_kph":20.1,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":16.0,"avgvis_miles":9.0,"avghumidity":62,"daily_will_it_rain":0,"daily_chance_of_rain":20,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Partly cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"uv":5.0},"astro":{},"hour":[]},{"date":"2026-05-21","date_epoch":1747872000,"day":{"maxtemp_c":21.1,"maxtemp_f":70.0,"mintemp_c":13.9,"mintemp_f":57.0,"avgtemp_c":17.5,"avgtemp_f":63.5,"maxwind_mph":15.0,"maxwind_kph":24.1,"totalprecip_mm":1.2,"totalprecip_in":0.05,"totalsnow_cm":0.0,"avgvis_km":14.0,"avgvis_miles":8.0,"avghumidity":75,"daily_will_it_rain":1,"daily_chance_of_rain":75,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy rain possible","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":4.0},"astro":{},"hour":[]}]}}'
  recorded_at: Tue, 19 May 2026 15:00:00 GMT
recorded_with: VCR 6.3.1
